{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="static/style.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Task List</title>
{% endblock %}
<h1>Tasks {{ tasks }}</h1>

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <form method="POST" action="/">
            <h2>Create Task</h2>
            <table>
                <tr>
                    <td>{{ form_create.name_create.label }}</td>
                    <td>{{ form_create.name_create(class="form-control", autocomplete="off", onfocus="this.value=''") }}</td>
                </tr>
                <tr>
                    <td>{{ form_create.time_create.label }}</td>
                    <td>
                        <div class="slidecontainer">
                            {{ form_create.time_create(min=0, max=10, class="slider", type="range") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_create.energy_create.label }}</td>
                    <td>
                        <div class="slidecontainer">
                            {{ form_create.energy_create(min=0, max=10, class="slider", type="range") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_create.priority_create.label }}</td>
                    <td>
                        <div class="slidecontainer">
                            {{ form_create.priority_create(min=0, max=10, class="slider", type="range") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_create.submit_create(class="btn btn-primary") }}</td>
                    <td></td>
                </tr>
            </table>
        </form>

        <hr>

        <form method="POST" action="/">
            <h2>Get best matching Task</h2>
            <table>
                <tr>
                    <td>{{ form_best_match.time.label }}</td>
                    <td>
                        <div class="slidecontainer">
                            {{ form_best_match.time(min=0, max=10, class="slider", type="range") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_best_match.energy.label }}</td>
                    <td>
                        <div class="slidecontainer">
                            {{ form_best_match.energy(min=0, max=10, class="slider", type="range") }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_best_match.submit_match(class="btn btn-primary") }}</td>
                    <td></td>
                </tr>
            </table>

            <ol class="list-group">
                {%for task_name in best_matching_name_list%}
                <li class="list-group-item" style="height:60px;">
                    {{ task_name }}
                    <a style="float:right;" class="btn btn-success" href="/?delete=true&name={{ task_name }}">Done</a>
                </li>
                {%endfor%}
            </ol>
        </form>
    </div>
</div>
{% endblock %}
